@model IEnumerable<Verduleria.Models.Producto>
@{
    ViewData["Title"] = "Verduleria";
    Layout = "_AdminLayout";
}
<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img class="rounded-circle me-lg-2" src="~/assets/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <span class="d-none d-lg-inline-flex">John Doe</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <a href="#" class="dropdown-item">Perfil</a>
                <a href="#" class="dropdown-item">Cerrar Sesion</a>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar End -->
@if (Model != null)
{
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Productos</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.Nombre)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.Descripcion)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.Cantidad)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.Tipo)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.Activo)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var producto in Model){
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => producto.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => producto.Descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => producto.Cantidad)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => producto.Tipo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => producto.Activo)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Content End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>