@model IEnumerable<Verduleria.Models.ProductoPromocion>
@{
    ViewData["Title"] = "Verduleria";
    Layout = "_AdminLayout";
}
<!-- Navbar End -->
@if (Model != null)
{
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-light rounded h-100 p-4">
                    <h6 class="mb-4">Productos en Promoción</h6>
                    <a class="btn btn-primary" asp-action="AgregarProductoPromocion" asp-controller="Admin">Crear nuevo</a>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.Promocion)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.Producto)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.ProductoCompra)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.Cantidad)
                                    </th>
                                    <th scope="col">
                                        @Html.DisplayNameFor(model => model.PorcentajeDebita)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var productopromocion in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => productopromocion.Promocion.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => productopromocion.Producto.Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => productopromocion.ProductoCompra)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => productopromocion.Cantidad)
                                        </td>
                                        <td>
                                            @if(productopromocion.PorcentajeDebita != null){
                                                @Html.DisplayFor(modelItem => productopromocion.PorcentajeDebita)
                                            }else{
                                                <label>0</label>
                                            }
                                        </td>
                                        <td>
                                            <a asp-action="EditarProductoPromocion" asp-route-id="@productopromocion.Id">Editar</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Content End -->
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>